<h2>{{phrases.a_header}}</h2>

<form class="form-horizontal" role="form">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<input type="text" id="selfassessment" value="" style="width:50%">
		</div>
	</div>
</form>
