<h2>{{phrases.a_header}}</h2>

<form class="form-horizontal" role="form">
	<div class="row">
		<div class="col-sm-12 slider-legend">
			<div style="left:15px">sehr arm</div>
			<div style="left:40%">Mittelfeld</div>
			<div style="right:15px">superreich</div>
		</div>
			<input type="text" id="selfassessment" style="width:80%">
		<div class="col-sm-12" style="position:relative;padding:0">
		</div>
	</div>
</form>
