<h2>{{phrases.a_header}}</h2>

<form class="form-horizontal" role="form">
	<div class="row">
		<div class="col-sm-12 slider-legend">
			<div style="left:15px">sehr arm</div>
			<div style="left:50%;margin-left:-50px">Mittelfeld</div>
			<div style="right:15px">superreich</div>
		</div>
		<div class="col-sm-12" style="position:relative;padding:0">
			<input type="text" id="selfassessment" style="position:absolute;left:65px;right:65px">
		</div>

		<div class="col-sm-12 text-right">
			<button type="button" class="btn btn-primary right">Weiter</button>
		</div>
	</div>
</form>
