<h2>{{phrases.b_header}}</h2>
<form class="form-horizontal" role="form">
	<div class="form-group">
		<label for="persons_per_household" class="col-lg-6 control-label">{{{phrases.persons_in_your_household}}}</label>
		<div class="col-lg-1">
			<input type="text" class="form-control number" id="persons_per_household" value="{{values.default_persons_per_household}}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-6 control-label">{{{phrases.house_or_apartment}}}</label>
		<div class="col-lg-1">
			<div class="radio">
				<label>
					<input type="radio" name="real_estate" id="real_estate_no" value="no" {{#values.default_house_or_apartment_no}}checked{{/values.default_house_or_apartment_no}}>
					{{{phrases.rented_apartment}}}
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="real_estate" id="real_estate_apart" value="apart" {{#values.default_house_or_apartment_apart}}checked{{/values.default_house_or_apartment_apart}}>
					{{{phrases.owned_apartment}}}
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="real_estate" id="real_estate_house" value="house" {{#values.default_house_or_apartment_house}}checked{{/values.default_house_or_apartment_house}}>
					{{{phrases.owned_house}}}
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="cars_in_household" class="col-lg-6 control-label">{{{phrases.cars_in_your_household}}}</label>
		<div class="col-lg-1"><input type="text" class="form-control number" id="cars_in_household" value="{{values.default_cars_per_household}}"></div>
	</div>
	<div class="form-group">
		<label for="financial_assets" class="col-lg-6 control-label">{{{phrases.financial_assets}}}</label>
		<div class="col-lg-1"><input type="text" class="form-control number" id="financial_assets" value="{{values.default_financial_assets}}"></div>
	</div>
	<div class="form-group">
		<label for="financial_debts" class="col-lg-6 control-label">{{{phrases.financial_debts}}}</label>
		<div class="col-lg-1"><input type="text" class="form-control number" id="financial_debts" value="{{values.default_financial_debts}}"></div>
	</div>
</form>