<h2>So stehen Sie da!</h2>

<form class="form-horizontal hierarchyform" role="form">
	<div class="form-group header">
		<label for="" class="col-sm-6 control-label">Sachvermögen</label>
		<div class="col-sm-6">
			<input type="text" class="form-control number" id="value_c_1" value="" style="width:100px" disabled="disabled">
		</div>
	</div>
	<div class="form-group sub">
		<label for="" class="col-sm-6 control-label">
			Hauptwohnsitz
			<span class='help-block'>inkl. Grundeigentum wenn Eigentümer</span>
		</label>
		<div class="col-sm-6">
			<input type="text" class="form-control number" id="value_c_1_1" value="" style="width:100px">
		</div>
	</div>
	<div class="form-group sub">
		<label for="" class="col-sm-6 control-label">
			Anderes Immobilienvermögen
			<span class='help-block'>inkl. Grundeigentum, Wald, etc.</span>
		</label>
		<div class="col-sm-6">
			<input type="text" class="form-control number" id="value_c_1_2" value="" style="width:100px">
		</div>
	</div>
	<div class="form-group sub">
		<label for="" class="col-sm-6 control-label">
			Fahrzeuge
			<span class='help-block'>etc.</span>
		</label>
		<div class="col-sm-6">
			<input type="text" class="form-control number" id="value_c_1" value="" style="width:100px">
		</div>
	</div>
	<div class="form-group sub">
		<label for="" class="col-sm-6 control-label">
			direkte Unternehmensbeteiligungen an GesmbHs
			<span class='help-block'>etc.</span>
		</label>
		<div class="col-sm-6">
			<input type="text" class="form-control number" id="value_c_1_3" value="" style="width:100px">
		</div>
	</div>
	<div class="form-group sub">
		<label for="" class="col-sm-6 control-label">
			Andere Wertgegenstände
			<span class='help-block'>Schmuck, etc.</span>
		</label>
		<div class="col-sm-6">
			<input type="text" class="form-control number" id="value_c_1_4" value="" style="width:100px">
		</div>
	</div>
 
	<div class="form-group header">
		<label for="" class="col-sm-6 control-label">Finanzvermögen</label>
		<div class="col-sm-6">
			<input type="text" class="form-control number" id="value_c_2" value="" style="width:100px" disabled="disabled">
		</div>
	</div>
	<div class="form-group sub">
		<label for="" class="col-sm-6 control-label">
			Konten
			<span class='help-block'></span>
		</label>
		<div class="col-sm-6">
			<input type="text" class="form-control number" id="value_c_2_1" value="" style="width:100px">
		</div>
	</div>
	<div class="form-group sub">
		<label for="" class="col-sm-6 control-label">
			Sparformen
			<span class='help-block'>Sparbücher, Bausparer, Lebensversicherungen, Pensionsvorsorge, etc.</span>
		</label>
		<div class="col-sm-6">
			<input type="text" class="form-control number" id="value_c_2_2" value="" style="width:100px">
		</div>
	</div>
	<div class="form-group sub">
		<label for="" class="col-sm-6 control-label">
			Aktien, Anleihen, Fonds, andere Investmentvehikel
			<span class='help-block'>etc.</span>
		</label>
		<div class="col-sm-6">
			<input type="text" class="form-control number" id="value_c_2_3" value="" style="width:100px">
		</div>
	</div>
	<div class="form-group sub">
		<label for="" class="col-sm-6 control-label">
			Geldbeträge, die andere dem Haushalt schulden
			<span class='help-block'></span>
		</label>
		<div class="col-sm-6">
			<input type="text" class="form-control number" id="value_c_2_4" value="" style="width:100px">
		</div>
	</div>

	<div class="form-group header">
		<label for="" class="col-sm-6 control-label">Schulden</label>
		<div class="col-sm-6">
			<input type="text" class="form-control number" id="value_c_3" value="" style="width:100px" disabled="disabled">
		</div>
	</div>
	<div class="form-group sub">
		<label for="" class="col-sm-6 control-label">
			besicherte Schulden
		</label>
		<div class="col-sm-6">
			<input type="text" class="form-control number" id="value_c_3_1" value="" style="width:100px">
		</div>
	</div>
	<div class="form-group sub">
		<label for="" class="col-sm-6 control-label">
			unbesicherte Schulden
			<span class='help-block'>inkl. kontoüberzug, Kreditkartenschulden, die über Monatsrechnung hinausgehen, etc.</span>
		</label>
		<div class="col-sm-6">
			<input type="text" class="form-control number" id="value_c_3_2" value="" style="width:100px">
		</div>
	</div>

	<div class="form-group header">
		<label for="" class="col-sm-6 control-label">Ihr Vermögen</label>
		<div class="col-sm-6">
			<input type="text" class="form-control number" id="value_c_4" value="" style="width:100px" disabled="disabled">
		</div>
	</div>
	
	{{{charts.wealth_distribution}}}

	<div class="form-group">
		<div class="col-sm-12 text-right">
			<button type="button" class="btn btn-primary right next">Weiter</button>
		</div>
	</div>

</form>
