<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Vermögensverteilung</title>

		<link href="assets/bootstrap/css/bootstrap{{#minified}}.min{{/minified}}.css" rel="stylesheet">
		<link href="assets/bootstrap/css/slider.css" rel="stylesheet">
		<link href="assets/css/main.css" rel="stylesheet">

		<!-- Favicons
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="./assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="./assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="./assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="./assets/ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="./assets/ico/favicon.png">
		-->
		<script type="text/javascript">
			{{> 0_datendefinition}}
		</script>

	</head>
	<body>
		<div id="content" class="container">
			<div id="pagewrapper">
				<div id="page_a">{{> a_selbsteinschaetzung}}</div>
				<div id="page_b">{{> b_grunddaten}}</div>
				<div id="page_c">{{> c_analyse}}</div>
				<div id="page_d">{{> d_vermoegenssteuer}}</div>
			</div>
		</div>
		<script src="assets/jquery/jquery-1.10.2{{#minified}}.min{{/minified}}.js"></script>
		<script src="assets/bootstrap/js/bootstrap{{#minified}}.min{{/minified}}.js"></script>
		<script src="assets/bootstrap/js/slider.js"></script>
		<script src="assets/js/main.js"></script>
	</body>
</html>
