.slider-legend {
	position: relative;
	height: 50px;
}

.slider-legend div {
	position: absolute;
	width: 100px;
	height: 20px;
	text-align: center;
}

.slider {
	left: 65px;
}

.slider .tooltip .tooltip-arrow {
	border-top-color: #0480be;
}

.slider .tooltip-inner {
	background-color: #0480be;
}

input.number {
	text-align: right;
}

.form-horizontal label.control-label {
	padding-top: 0;
}

label .help-block {
	font-weight: normal;
	margin: 0;
}

