.slider-legend {
	position: relative;
	height: 50px;
}

.slider-legend div {
	position: absolute;
	width: 100px;
	height: 20px;
	text-align: center;
}

.slider {
	left: 65px;
}

.slider .tooltip .tooltip-arrow {
	border-top-color: #0480be;
}

.slider .tooltip-inner {
	background-color: #0480be;
}

input.number {
	text-align: right;
}

label .help-block {
	font-weight: normal;
	margin: 0;
}

form.hierarchyform .sub label {
	padding-top: 0px;
}

form.hierarchyform .sub label .help-block {
	font-size: 12px;
}

form.hierarchyform .header label {
	font-size: 18px;
	padding-top: 4px;
}

div.chart {
	position: relative;
}

div.chart div {
	position: absolute;
}

div.chart div.selector {
	background:none; 
}

div.chart div.selector:hover {
	background:rgba(255,0,0,0.2);
}